swagger: "2.0"
info:
  version: "1.0.5"
  title: "EEJI Cloudfnt-Backend API Reference"
  description: This document represents API reference of the EEJI Cloudfnt-Backend service.
  license:
    name: MIT
    url: https://github.com/apiaryio/polls-api/blob/master/LICENSE
host: cloudfnt-bnd-prod.infinite-optimal.com
basePath: /api
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /v1/save_new/{object_name}:
    x-summary: Save new dataset
    post:
      summary: Save new dataset
      tags:
        - Data
      parameters:
        - name: "object_name"
          in: "path"
          type: "string"
          required: true
          description: "object name to save"
        - name: "company-id"
          in: "header"
          type: "string"
          required: true
          description: "company id"
        - name: "user-id"
          in: "header"
          type: "string"
          required: true
          description: "user id"
        - name: "Authorization"
          in: "header"
          type: "string"
          required: true
          description: "auth token"
        - name: "body"
          in: body
          description: save_new request body
          required: true
          schema:
            type: "object"
            $ref: "#/definitions/new_dataset"
      responses:
        200:
          description: "OK"
          schema:
            type: object
            properties:
              state:
                type: string
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/resp_unauthorized"
        422:
          description: "Unprocessable Entity"
        500:
          description: "Internal server error"
  /v1/list_model:
    x-summary: List models
    get:
      summary: Get model list owned by a user
      tags:
        - Model
      parameters:
        - name: "user-id"
          in: "header"
          type: "string"
          required: true
          description: "user id"
        - name: "Authorization"
          in: "header"
          type: "string"
          required: true
          description: "auth token"
        - name: "EEJI-Test-Code"
          in: "header"
          type: "string"
          required: false
          description: "custom header for testing"
      responses:
        200:
          description: "OK"
          schema:
            type: "array"
            items:
              type: "object"
              $ref: "#/definitions/model_summary"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/resp_unauthorized"
        422:
          description: "Unprocessable Entity"
        500:
          description: "Internal server error"

  /v1/describe_model:
    x-summary: Describe a model
    get:
      summary: Describe a model
      tags:
        - Model
      parameters:
        - name: "user-id"
          in: "header"
          type: "string"
          required: true
          description: "user id"
        - name: "Authorization"
          in: "header"
          type: "string"
          required: true
          description: "auth token"
        - name: "EEJI-Test-Code"
          in: "header"
          type: "string"
          required: false
          description: "custom header for testing"
        - name: "model-id"
          in: "header"
          type: "string"
          required: true
          description: "model id to describe"
      responses:
        200:
          description: "OK"
          schema:
            type: "object"
            $ref: "#/definitions/model_information"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/resp_unauthorized"
        422:
          description: "Unprocessable Entity"
        500:
          description: "Internal server error"

  /v1/get_signed_url/{object_name}:
    x-summary: Get a signed URL
    get:
      summary: Get a signed URL to upload data
      tags:
        - Data
      parameters:
        - name: "company-id"
          in: "header"
          type: "string"
          required: true
          description: "company id"
        - name: "user-id"
          in: "header"
          type: "string"
          required: true
          description: "user id"
        - name: "Authorization"
          in: "header"
          type: "string"
          required: true
          description: "auth token"
        - name: "object_name"
          in: "path"
          required: true
          type: "string"
          description: "object name to upload"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/get_signed_url"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/resp_unauthorized"
        422:
          description: "Unprocessable Entity"
        500:
          description: "Internal server error"

  /v1/notify_upload/{object_name}:
    x-summary: Notify upload status
    post:
      summary: Notify user-data upload status
      tags:
        - Data
      parameters:
        - name: "object_name"
          in: "path"
          required: true
          type: "string"
          description: "object name"
        - name: "company-id"
          in: "header"
          type: "string"
          required: true
          description: "company id"
        - name: "user-id"
          in: "header"
          type: "string"
          required: true
        - name: "Authorization"
          in: "header"
          type: "string"
          required: true
        - name: "status"
          in: "query"
          type: "string"
          enum: [start, fail, cancel, success]
          required: true
        - name: "object-size"
          in: "header"
          type: "number"
          required: false
          description: "upload object size in bytes. Allowed only when status=success"
      responses:
        200:
          description: "OK"
          schema:
            type: "object"
            properties:
              state:
                type: string
                description: "Current State"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/resp_unauthorized"
        422:
          description: "Unprocessable Entity"
        500:
          description: "Internal server error"

definitions:
  new_dataset:
    title: new_dataset
    type: "object"
    required:
      - "data_name"
    properties:
      is_classification:
        type: "boolean"
        description: "(optional) flag indicating whether the data is classification (default: False)"
      target_y:
        type: "string"
        description: "(optional) The target column"
      data_name:
        type: "string"
        description: "The dataset name"
      data_desc:
        type: "string"
        description: "(optional) The dataset description"
      date_column:
        type: "string"
        description: "(optional) The date column"

  model_information:
    title: model_information
    type: "object"
    properties:
      id:
        type: "string"
        description: "The model ID"
      name:
        type: "string"
        description: "The name of the model"
      description:
        type: "string"
        description: "The description of the model"
      target:
        type: "string"
        description: "The target of the model - classification/prediction"
      state:
        type: "string"
        description: "The status of the model"
      created_at:
        type: "string"
        description: "The datetime when the model is created (ISO format)"
      updated_at:
        type: "string"
        description: "The datetime when the model is updated (ISO format)"
      dataset_name:
        type: "string"
        description: "The name of dataset"
        required: false
      accuracy:
        type: "number"
        description: "The model accuracy"
        required: false
      error_rate:
        type: "number"
        description: "The error rate"
        required: false

  model_summary:
    title: model_summary
    type: "object"
    required:
      - "id"
      - "name"
      - "target"
      - "state"
      - "created-at"
    properties:
      id:
        type: "string"
        description: "The model ID"
      name:
        type: "string"
        description: "The name of the model"
      target:
        type: "string"
        description: "The target of the model - classification/prediction"
      state:
        type: "string"
        description: "The status of the model"
      created_at:
        type: "string"
        description: "The datetime when the model is created (ISO format)"

  get_signed_url:
    title: get_signed_url
    type: "object"
    required:
      - "signed_url"
      - "expiration"
    properties:
      expiration:
        type: "string"
        description: "The expiration datetime of the signed url (ISO format)"
      signed_url:
        type: "string"
        description: "The signed url of the GCS object"

  resp_bad_request:
    type: "object"
    properties:
      message:
        type: string
        description: "Error reason"
  resp_unauthorized:
    type: "object"
    properties:
      message:
        type: string
        description: "Error reason"
